Repository esmero/webform_strawberryfield, pull requests merged in 2021-04, with the labels that each got.

#116 ISSUE-115: make missing index 'data-drupal-date-format' notice go away
  src/Element/WebformMetadataDate.php
Labels: Javascript, Webform Elements, bug

#114 ISSUE-113: Adds a "Discard Session" Ajax driven button
  src/Controller/StrawberryRunnerModalController.php
  src/Element/WebformPanoramaTour.php
  src/Plugin/Field/FieldWidget/StrawberryFieldWebFormInlineWidget.php
  src/Plugin/Field/FieldWidget/StrawberryFieldWebFormWidget.php
  webform_strawberryfield.routing.yml
Labels: UI/UX, Webform Elements, Webform Widgets, enhancement

#118 ISSUE-98:Fixes missing URL value in. Hotspot info
  src/Element/WebformPanoramaTour.php
Labels: Webform Elements, bug, enhancement
